#menu{
    background-color: #a9a9a9;
    border-radius: 5px;
 
}
li>a{
    font-family:'Times New Roman';
    font-weight: bold;
    text-decoration: #005677;
    color:#005677;
 
}

header{
    background-color:#005677;
    opacity: 0.8;
    border-radius: 5px;
    width: 100%;
    height: 100%;

  
}
    


.centrar {
        display:block;
        margin:auto;
    
    }
     

.logo{
      width:100px;
      height:146,37px;
}     



.titulo{
    background-color: #a9a9a9;
    color:#005677;
    border-radius: 5px;
    padding-left: 16px;
}

.titulo-centrado {
    text-align: center;
}

li>p, section>p {
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    display: inline;

}
ul[type="none"] {
    padding-left: 0;
}

footer {
    background-color: #005677;
    color:#fff;
    text-align: center;
}
footer img{
    width: 20px;
    height: 20px;
    color:#fff;
}
footer>p {
    margin: 0;
}
